<div class='banner-profile d-flex'>
  <div class="row">
    <% count = 0 %>
    <% length = @user.link_album_top_artists.size %>
    <% 6.times do  %>
      <% if count >= length %>
        <% count = 0 %>
      <% end  %>
      <div class="col-2 m-0 p-0">
        <%= image_tag @user.link_album_top_artists[count], class: "img-medium" %>
      </div>
      <% count += 1 %>
    <% end %>
  </div>
</div>

<div class="container container-cima justify-content-sm-center">
  <div class="row">
    <div class="col-3 container-left">
      <div class="profile-picture big-profile-picture">
        <% avatar_url = @user.spotify_picture_url %>
        <%= image_tag avatar_url %>
      </div>
      <div class="user-informations">
        <h1 class="user-name text-center"><%= @user.first_name %></h1>
        <div data-user=<%= @user.id%> class="text-center">
          <% if @user != current_user %>
            <% if current_user.is_following?(@user.id) %>
              <%= link_to "Unfollow", unfollow_user_path(@user.id), method: :post, remote: true, class: "button-pink justify-content-sm-center" %>
            <% else %>
              <%= link_to "Follow", follow_user_path(@user.id), method: :post, remote: true,class: "button-pink justify-content-sm-center" %>
            <% end %>
          <% end %>
        </div>
        <h3 class="user-song text-center">Just listened:
        </h3>
      </div>
      <iframe class="user-frame" src="https://open.spotify.com/embed/track/<%= @user.last_songs_identifiers[0] %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      
      <div id="top-songs" class="">
        <h2 class="title-profile">Top Songs</h2>
          <ol class="list">
            <% @user.top_songs.each_with_index do |song, index| %>
              <%= link_to @user.link_songs[index], class: "link-tops", target: :_blank do %>
              <li><strong><%= song %></strong></li>
              <% end %>
            <% end %>
          </ol>
      </div>
      <div id="top-artists" class="">
        <h2 class="title-profile">Top Artists</h2>
        <ol class="list">
          <% @user.top_artists.each_with_index do |artist, index| %>
            <%= link_to @user.link_artists[index], class: "link-tops", target: :_blank do %>
            <li><strong><%= artist %></strong></li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="col-9 container-right">
      <div id="informations" class="d-flex justify-content-center">
        <div class="card-userinformation p-2">
          <h3>Followers</h3>
          <p>121</p>
        </div>
        <div class="card-userinformation p-2">
          <h3>Following</h3>
          <p>82</p>
        </div>
        <div class="card-userinformation  p-2">
          <h3>Communities</h3>
          <p>3</p>
        </div>
        <div class="card-userinformation  p-2">
          <h3>Playlists</h3>
          <p>10</p>
        </div>
        
      </div>          
      <div>
               
        <div id="my-communities" class="cards-comumnities-show">
          <h3>Communities</h3>     
          <div class="d-flex justify-content-around align-items-md-center">
            <% @user.communities.limit(6).each do |community|  %>
              <%= link_to community_path(community), method: 'get' do %>
                <div class="card-small-community shadow-sm">
                  <%= cl_image_tag community.photo.key, class: "card-small-img-top" %>       
                  <div class="card-small-body justify-content-center">
                    <p class="mb-0"><%= community.name %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>


      <div class="show-messages">
        <h3>Stalking <%= @user.first_name.split(" ").first%>'s messages</h3>
        <% messages = [] %>
        <% @user.messages.order(created_at: :desc).limit(8).each do |message|  %>
          <% messages << message %>
        <% end %>
        <% count = 0 %>
        <% if count != 0 %>
          <p> To stalk me you must follow my profile first </p>
        <% else %>
          <% unless current_user.following.where("following_id = #{@user.id}").empty? %>
            <% messages.each do |message| %>
              <div class="show-messages-text d-flex">
                <%= link_to user_path(message.user.id) do %>
                  <%= image_tag message.user.spotify_picture_url, alt: "spotify", class: "container-messages-profile"%>
                <% end %>
                <div class='px-2'>
                  <div class="messages-text-box d-flex">
                    <%= link_to user_path(message.user.id) do %>
                      <p><strong><%=message.user.first_name%></strong></p>
                    <% end %>
                    <p class="pl-1 time-right1">posted at </p> 
                    <%= link_to community_path(message.community.id) do %>
                      <p class="pl-1"><strong><%=message.community.name%> community</strong></p>
                    <% end %>
                    <p class="pl-1 time-right1"> (<%=message.created_at.strftime("%d/%m/%Y, %I:%M%p")%>)</p>
                  </div>
                  <div>
                    <p class="message-content"><%= message.content.capitalize %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container container-baixo justify-content-sm-center">
  <div class="mb-2">
    <h2 class="title-profile text-center">Last Albums</h2>
    <div class="row justify-content-sm-center ">
      <% @user.last_albums.each_with_index do |album, index| %>
        <%= link_to @user.link_albums[index], target: :_blank do %>
          <div class="img-shaking col mb-2 p-2">
            <%= image_tag album %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



       