<div class="container">
  <div class="components">  

    <div class="row">
      <div class="col-6">
        <div class="card mb-1 shadow-sm w-30 align-items-center">  
        	<div class ="avatar-profile">
        	  <% avatar_url = current_user.spotify_picture_url %> 
        	  <%= image_tag avatar_url %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-1 shadow-sm w-100"> 
          <div class ="profile-description">
            <h3> User: <%= current_user.first_name %><h3> 
            <h3> Nickname: <%= current_user.nickname %><h3>       
          </div>
        </div>
      </div>
    </div>	

    <div class="row">
      <div class="col-6">
        <div class="card mb-1 shadow-sm w-100 align-items-center">  
        	<h2 class="title">Top 10 Artists</h2>
              <ol class="list">
                <% current_user.top_artists.each do |artist| %>
                  <li><strong><%= artist %></strong></li>
                <% end %>
              </ol>  
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-1 shadow-sm w-100 align-items-center">  
          <h2 class="title">Top 10 Musics</h2>
              <ol class="list">
                <% current_user.top_songs.each do |song| %>
                  <li><strong><%= song %></strong></li>
                <% end %>
              </ol>  
        </div>
      </div>       
    </div>
  </div>
</div>
