<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Your Search</h1>
      <p class="lead">WeMu brings a collection of communities to you</p>
      <p>
      <%= form_tag results_path, method: 'get' do %>
        <div id= "search-data" class="form-search search-data" data-communities_auto="<%= @communities_auto.to_json %>">
            <%= text_field_tag :query, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Mastodon, rock,..." %>
            <%= submit_tag "Search", class: "button-pink-search " %>
        </div>
      <% end %>
      </p>
    </div>

    <p class="lead">
      <%= link_to new_community_path, method: 'get' do %>
        <button type="button" class="button-pink">Create Community</button>
      <% end %>
    </p>

  </section>

  <div class="container">

    <div class='row'>
      <% if @profiles != nil %>
        <% @profiles.order(created_at: :desc).each do |profile| %>
            <div class='col-md-4'>
              <div class="card mb-4 shadow-sm">
                <%= image_tag profile.spotify_picture_url, alt: "spotify", class: "card-img-top", width: "100%", height:"300" %>
                <div class="card-body">
                  <h2 class="mb-4"><%= profile.first_name %></h2>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to user_path(profile.id), method: 'get' do %>

                        <button type="button" class="btn btn-sm btn-outline-secondary">View profile</button>
                      <% end %>
                    </div>
                    <div>
                      <small class="members-text">Has created <%= profile.communities.count%> communities </small> <br>
                      <small class="members-text">Has joined <%= Membership.where(user:profile).count%> communities </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="row">

      <% @communities.order(created_at: :desc).each do |community| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="<%= cl_image_path community.photo.key %>" class="card-img-top" alt="<%= community.name %>" width="100%" height="225">

            <div class="card-body">
              <h2 class="mb-0"><%= community.name %></h2>
              <p class="card-text"><%= community.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to community_path(community), method: 'get' do %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View Community</button>
                  <% end %>
                </div>
                <small class="members-text"><%= community.memberships.count %> members</small>
              </div>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>

</main>
