<!-- <div class="bg-wemu-green">
  <div class="container bg-green">
    <div class="form-new-community mt-5">
      <h1> Page to add a new community </h1>

      <%= simple_form_for @community do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div> -->


<!-- <div class="new-form">
  <div class="container">
      <div class="form-login">
        <h2>Create a new community!</h2>
        <%= simple_form_for @community do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="form-actions">
           <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
</div> -->



  <div class="row">
    <div class="col-6">
      <div class="cont">
        <div class="left">
          <div class="header">
            <h1 class="animation a1">Create your community!</h1>
            <h3 class="animation a2">Please, take some time to choose an amazing name and also descripe what the community is about!</h3>
          </div>
          <div class="form">
           <%= simple_form_for @community do |f| %>
                <div class="form-inputs">
                  <%= f.input :name %>
                  <%= f.input :description %>
                  <%= f.input :photo, as: :file %>
                </div>
  <!--               <div class= "btn-outline-success"> -->
                  <%= f.button :submit, class: "button-final animation a6" %>
             <!--    </div> -->
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="right", style = "background-image: url(<%= image_path 'people_music.jpg' %>)" >
      </div>
    </div>
  </div>

