<!--
<h1>Welcome to this community</h1>

<h2><%=@community.name %></h2>
  <% @community.messages.each do |message|%>
    <%= message.content %>
  <% end  %>

<div class="container">
  <div class="row justify-content-center">
      <h1>Please, add your message to interact here! <%= @community.name %></h1>

      <%= simple_form_for [@community, @message] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Post", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-6">
    <div class="community-banner", style = "background-image: url('<%= image_path 'Oasis.jpg' %>');">
    </div>
  </div>

  <div class="col-6">
    <div class="container">
      <div class=" container mt-5 text-center">
        <h1><%=@community.name %></h1>
        <h3><em><%=@community.description %></em></h3>
      </div>
      <div class="row justify-content-center">
        <h3>Please, add your message to interact here! </h3>

        <%= simple_form_for [@community, @message] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Post", class: 'btn btn-primary' %>
        <% end %>
        <% @community.messages.each do |message|%>
        <p><%= message.content %></p>
        <% end  %>
      </div>
    </div>
  </div>
 </div>

</div>



